body{
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

/* header */
.logo{
    display: inline-block;
    padding-top: 30px;
}

.logo h2{
    font-size: 36px;
    color: #fff;
    margin: 0 auto;
}

.logo h4{
    display: block;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
}

.nav{
    display: inline-block;
    float: right;
    padding-top: 55px;
}

.nav__btn{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    margin-left: 40px;
}

.nav__btn:hover{
    opacity: .1s linear;
    color: #D4C17F;
}

header{
    background: url(../images/background.jpg) no-repeat center top / cover;
    height: 840px;
}

.title__text{
    font-size: 44px;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #D4C17F;
}

.header__text{
    text-align: center;
    margin: 0 auto;
    margin-top: 225px;
}

.header__text--second{
    text-align: center;
    margin: 0 auto;
}

.mouse{
    text-align: center;
    margin-top: 100px;
}

.header__map{
    display: inline-block;
    margin-top: 150px;
    margin-left: 250px;
}

.header__map--text{
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    float: right;
    margin-left: 15px;
    text-decoration: none;
}

.header__number{
    display: inline-block;
    margin: 0 auto;
    margin-left: 100px;
}

.header__number--text{
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 400;
    float: right;
    margin: 0 auto;
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.header__number--text:hover,
.header__map--text:hover{
    color: #D4C17F;
    opacity: .1s linear;
}

/* testimonials */
.section{
    background-color: #242B33;
    padding-top: 120px;
    padding-bottom: 120px;
}

.testimonials__container{
    display: inline-block;
    width: 900px;
    text-align: center;
    margin-left: 270px;
}

.testimonials__block{
    display: inline-block;
    width: 134px;
    text-align: center;
    margin-left: 70px;
}

.testimonials__text{
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 27px;
    color: #fff;
}

.testimonials__block:first-child{
    width: 193px;
}

.testimonials__number{
    position: absolute;
    margin: 0 auto;
    z-index: 1;
}

/* our rooms */
.our__rooms--container{
    width: 1300px;
}

.our__rooms--section{
    background-color: #242B33;
    padding-top: 38px;
}

.our__rooms--text{
    font-size: 36px;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #D4C17F;
    margin: 0 auto;
    margin-bottom: 60px;
}

.our__rooms--number{
    display: block;
    margin: 0 auto;
    margin-left: 70px;
    margin-top: 35px;
}

.img__rooms{
    position: relative;
    margin: 20px;
}

.container__rooms{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

/* registration */
.registration--background{
    background: url(../images/background2.jpg) no-repeat center top / cover;
    height: 560px;
    padding-top: 180px;
}

.registration__text{
    display: inline-block;
    width: 535px;
    height: 200px;
}

.registration__text--first{
    font-size: 36px;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #D4C17F;
    margin: 0 auto;
    margin-bottom: 20px;
}

.registration__text--second{
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-right: 15px;
}

.registration{
    display: inline-block;
    margin-bottom: 30px;
    width: 560px;
    height: 135px;
    float: right;
    padding-top: 45px;
}

.btn__name{
    background: #FFFFFF;
    opacity: 0.2;
    width: 255px;
    height: 50px;
    text-align: center;
    border: 0px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.registration p{
    display: inline-block;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    width: 255px;
    color: #E7E7E7;
}

.registration__btn{
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #fff;

    width: 255px;
    height: 50px;
    padding: 15px 54px;
    background-color: #D4C17F;
    margin: 0 auto;
    margin-left: 22px;
}

.registration__btn:hover{
    background-color: #ceb660;
    opacity: .1s linear;
}

/* video */
.container--video{
    width: 1441px;
}

.section__video{
    background-color: #242B33;
}

.first--video{
    margin-left: 313px;
}

.video--number{
    float: right;
    margin-top: 225px;
}

/* map */
.map{
    text-align: center;
}

.section__map{
    background-color: #242B33;
    padding-top: 180px;
}

/* question */
.section__question{
    background-color: #242B33;
    padding-top: 180px;
    padding-bottom: 180px;
}

.question__text{
    display: inline-block;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    width: 255px;
    color: #E7E7E7;
}

.question__contacts{
    float: right;
}

/* footer */
footer{
    background-color: #2D343C;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about__us--footer{
    display: inline-block;
    width: 119px;
    height: 155px;
    margin-left: 166px;
}

.about__us--footer-btn{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.contacts--footer{
    display: inline-block;
    width: 239px;
    height: 149px;
    margin-left: 108px;
}

.contacts--footer-btn{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    color: #fff;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.icon__footer{
    margin: 20px 20px 0 0;
}


















